body{
    background-color: red;
}
/*Conteneur logo GoPro*/
.logotop{
    display: flex;
    justify-content: center;
}
/*Logo GoPro au top*/
.goprologo{
    width: 146px;
    margin-top: 21px;
    margin-right: 18px;
}
/*Connexion Pour Abonné GoPro" sous le logo GoPro*/
p{
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-top: 36px;
    margin-right: 14px;
    font-family: Mazzard H;
}
.texte2{
    font-family: Proxima Nova;
    font-weight: 800;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.icone{
    width: 25px;
}