body{
    background-color: red;

}
.logotop{
    background-color: black;
    width: 146px;
    margin-top: 29.5px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
p{
    font-family: (Mazzard H Semi-condensé Extra-gras);
    font-size: 28px;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}